html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
}

body {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5%;
}

div.banner {
  padding: 20px;
  margin-top: 20px;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button, form h5 {
  margin: 20px 0;
}

input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]){
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label,
input[type=email]:not(.browser-default):focus:not([readonly]) + label,
input[type=password]:not(.browser-default):focus:not([readonly]) + label{
  color: #ec407a !important;
}

.fixed-action-btn {
  position: absolute;
  right:5%;
}
.fab:hover + .fab-options {
  visibility: visible;
}
.fab-options {
  right: 55px !important;
}
.fab-options:hover {
  visibility: visible !important;
}
.list_item_header_card {
  height: 50px;
  font-family: "Verdana", Times, serif;
  color:white;
}
.delete_button {
  position: absolute;
  right: 17%;
  top: 100px;
}
.list_item_card_due_date, .list_item_card_completed {
  font-size:20px;
  top:50%
}
.completed {
  color: green;
}
.pending {
  color: red;
}
.card-content {
  padding:15px !important;
}
.pointer {
  cursor: pointer;
}
.input-field {
  width: 96%;
  margin-left: 1% !important;
  margin-right: 2%;
}
.list-header {
  margin-top: 0%;
  margin-left:2%;
}
.list-container{
  margin-top:1%;
}
.new_item_container{
  text-align: center;
  margin-top:-1%
}
.list_item_task_header:hover, .list_item_due_date_header:hover, .list_item_status_header:hover{
  color: #a5d6a7;
}

.card:hover{
  color:#bdbdbd;
}
.home_new_list_button{
  text-transform: none !important;
  margin-top:2%;
  height:50px;
  width: 100%;
}
.item-screen-header{
  text-align: center;
}
.item-screen-container {
  width:90%;
}